<h1>Llistat de cotxes</h1>

<ul>
    {% for car in cars %}
        <li>
            {# Afegim el ID i el nom dins de la llista #}
            <strong>ID {{ car.id }}:</strong> {{ car.name }}
        </li>
    {% else %}
        <li>No hi ha cotxes a la base de dades.</li>
    {% endfor %}
</ul>
